<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <%= image_tag 'kamil_milewski_avatar.jpg', alt: 'Kamil Milewski avatar', class: 'img-circle' %>
      </div>
      <div class="col-lg-10">
        <h1>Kamil Milewski</h1>
        <p>I come from a building automation systems background.
          I decided to follow my interests and become a web developer.
          My aim is to learn more about Ruby, Ruby on Rails and other related web technologies.</p>
      </div>
    </div>
  </div>
</div>
