<%= provide :title, 'contact me' %>
<div class="container">
  <div class="row">
    <div class="project-margin-column"></div>
    <div class="project">

      <h1 class="page-title">Contact me</h1>


      <h4>Email me if you have any questions:</h4>

      <h4>
        <a href="mailto:kammil@protonmail.com">kammil@protonmail.com</a>
      </h4>


    </div>
    <div class="project-margin-column"></div>
  </div>
</div>
